.gradient-toolbar {
  --background: linear-gradient(to bottom, #0095FF, #CDE8FF);
  --color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
}

.profile-btn {
  --padding-start: 8px;
  --padding-end: 8px;
  margin-right: 8px;

  ion-icon {
    font-size: 36px;
    margin-bottom: -4px;
  }

  ion-label {
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
  }
}

.notification-btn {
  position: relative;
  --padding-start: 8px;
  --padding-end: 8px;

  ion-icon {
    font-size: 28px;
  }
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1.5px solid white;
}

.img_logo {
  width: 50px;
  height: auto;
}

.profile-btn ion-label {
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
