<ion-footer style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
	<ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="'/home'">
          <ion-icon name="accessibility"></ion-icon>
          Descubrir
        </ion-tab-button>
        <ion-tab-button [routerLink]="'/calendario2'">
          <ion-icon name="calendar"></ion-icon>
          Calendario
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/favoritos']">
          <ion-icon name="bookmark"></ion-icon>
          Guardados
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/social']">
          <ion-icon name="images"></ion-icon>
          Anteriores
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
	</ion-toolbar>
</ion-footer>
