<ion-footer style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
	<ion-toolbar>
    <div style="display: flex; justify-content: space-around; align-items: center; padding: 8px 0;">
      <a ion-router-link [routerLink]="'/home'" style="text-align:center; text-decoration:none; color: inherit;">
        <ion-icon name="accessibility"></ion-icon>
        <div>Descubrir</div>
      </a>
      <a ion-router-link [routerLink]="'/calendario2'" style="text-align:center; text-decoration:none; color: inherit;">
        <ion-icon name="calendar"></ion-icon>
        <div>Calendario</div>
      </a>
      <a ion-router-link [routerLink]="'/favoritos'" style="text-align:center; text-decoration:none; color: inherit;">
        <ion-icon name="bookmark"></ion-icon>
        <div>Guardados</div>
      </a>
      <a ion-router-link [routerLink]="'/social'" style="text-align:center; text-decoration:none; color: inherit;">
        <ion-icon name="images"></ion-icon>
        <div>Anteriores</div>
      </a>
    </div>
	</ion-toolbar>
</ion-footer>
