.gradient-toolbar {
  --background: linear-gradient(to bottom, #0095FF, #CDE8FF);
  --color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
}

.img_logo{
  width: 60px;
  margin-right: 15%;
  float: left;
}
