// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
