.modal-img {
  height: 180px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.botones-accion {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  ion-button {
    --border-radius: 16px;
    height: 50px;
    font-weight: 600;
  }
}

ion-card-subtitle {
  margin-top: 8px;
  font-size: 16px;
}
