<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalles del Evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="evento.imagen" class="modal-img"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ evento.titulo }}</ion-card-title>
      <ion-card-subtitle *ngIf="evento.precio">
        Precio: <strong>{{ evento.precio | currency:'EUR' }}</strong>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Fecha:</strong> {{ evento.fecha }} • {{ evento.hora }}</p>
      <p><strong>Lugar:</strong> {{ evento.lugar }}</p>
      <p><strong>Descripción:</strong><br>{{ evento.descripcion }}</p>
    </ion-card-content>
  </ion-card>

  <div class="botones-accion">
    <ion-button expand="block" fill="clear" color="medium" (click)="cerrar()">
      <ion-icon name="close-circle-outline" slot="start"></ion-icon>
      Cancelar
    </ion-button>

    <!-- PAGO -->
    <ion-button
      *ngIf="evento.precio"
      expand="block"
      color="success"
      (click)="irAPasarela()">
      <ion-icon name="card-outline" slot="start"></ion-icon>
      Pagar {{ evento.precio | currency:'EUR' }}
    </ion-button>

    <!-- GRATIS -->
    <ion-button
      *ngIf="!evento.precio && evento.estado === 'inscribirse'"
      expand="block"
      color="primary"
      (click)="inscribirseGratis()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Inscribirse (Gratis)
    </ion-button>
  </div>
</ion-content>
