<ion-header>
  <ion-toolbar class="gradient-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="../assets/img/logo.png" alt="Logo de CampusGo" class="img_logo"></ion-img>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title style="font-size: x-large; font-weight: bold">CampusGo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Bienvenido a nuestra aplicación. <br> Por favor acceda con su cuenta del centro!!
  </ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col class="col-logo">
        <ion-button [routerLink]="'/login'">Inicio Sesión </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-logo">
        <ion-button [routerLink]="'/reg'">Registrarse  </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-footer></ion-footer>
